body{
    margin: 0;
    background-color: whitesmoke;
}

.page-header{
    background-color: navy;
    color: whitesmoke;
    text-align: center;
    padding: 0.5em;
}

.page-nav{
    background-color: powderblue;
    padding: 0.1em;
}

.nav-list{
    list-style: none;
    text-align: center;
}

.nav-list-item{
    display: inline;
    margin: 0 2em;
    font-size: 1.2em;
}

.article-section{
    margin: 0 1em;
    padding: 0.5em 1em;
}

.article{
    border: 2px solid mediumpurple;
    background-color: mintcream;
    padding: 1em;
    margin: 1em;
}

.article-header{
    color: indigo;
    text-align: center;
}

.about-section{
    background-color: mintcream;
    border: 2px solid mediumpurple;
    margin: 0 1em;
    padding: 0.5em 1em;
}

.contact-section{
    background-color: mintcream;
    border: 2px solid mediumpurple;
    margin: 0 1em;
    padding: 0.5em 1em;
}

.feature-div{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    border: 5px solid green;
    margin: 2em;
}